/* Write your CSS here */
/* Write your CSS here */
.star {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
.list {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #9897f0;
  margin: 5px;
}



.text-cont {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.title-name {
  color: #171f46;
  font-size: 17px;
}
.date-format {
  color: #fbc7d4;
  font-size: 13px;
}
.star-btn {
  border: 0px solid;
  background-color: transparent;
    height: 20px;
  width: 20px;
}
